<% if ff.object.status != "paid" %>
  <%= ff.input :status, as: :boolean, input_html: {id: ff.object.id, checked: ff.object.status == "1",  class: "order-checkbox"} %>
<% end %>

<label for="<%= ff.object.id %>">
  <div class='billy3 <%= order.status %> '>
    <div class='billy5'>
      <div class='avatar-container'>
        <%= card_photo_or_generic(order.user) %>
      </div>
      <div style>
        <p class='price'><%= order.user.email.split('@').first %></p>
      </div>
    </div>
    <div class='billy'>
      <div class='within-billy'>
        <h4><%= order.dish.name %></h4>
        <div class='price-ordered-by'>
          <p class='price'>€<%= order.dish.price %> x <%= order.quantity %></p>
        </div>
      </div>
    </div>
    <div class='avatar-checkbox-container'>
      <div class='avatar-checkbox'>
        <% if order.status == "paid" %>
          PAID
        <% else %>
          <div class='total-price'>
            €<%= (order.dish.price) * (order.quantity) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</label>
