<div class="dish-card">
    <div class="dish-card-image-container"><%= dish_picture(dish)%></div>
    <div class="dish-card-details">
      <h4><%= dish.name %></h4>
      <p><%= dish.description %></p>
      <p class="price"><%= humanized_money_with_symbol(dish.price) %></p>
      <%= link_to "+",restaurant_dish_orders_path(dish.restaurant, dish), method: :post, class: "dish-card-btn small-button2", remote: :true, data: { dish_id: dish.id, add_to_cart: false }%>
    </div>

</div>
