<div class="navbar-eatsplit">
  <% if current_user.nil? %>
    <div class="log_in">
      <%= link_to "Log in", new_user_session_path, class: "log_in_link" %>
    </div>
  <% else %>
    <div class="log_out">
      <%= link_to "Log out", destroy_user_session_path, :method => 'delete', class: "log_in_link"
       %>
    </div>
  <% end %>
  <div class="top_search">
    <div class="top_search_input">
      <%= image_tag "loop.svg", height: 10, class: "loop-icon" %>
      <%= form_tag restaurants_path, method: :get do %>
        <%= text_field_tag :query, params[:query], placeholder: "Not listed?", id: "searchInput", value: "" %>
      <% end %>
    </div>
  </div>
  <div class="logo-nav-container">
  <%= link_to root_path, class: "navbar-eatsplit-brand" do %>
    <%= image_tag "logo_eatsplit.svg", class: "logo" %>
  <% end %>
  </div>
</div>

