<div class="order-card">
  <div class="order-card-top">
    <p class="price checkout-final"><%= humanized_money_with_symbol(order.dish.price) %></p>
    <div class="order-card-image-container"><%= order_picture(order.dish)%></div>
    <div class="order-card-details">
      <h4><%= order.dish.name %></h4>
    </div>
    <div class=order-card-buttons>
      <%= link_to "-", order_path(@order, params: {update: "minus"}), method: :put, remote: true, class: "small-button2" %>
      <div class="order-quantity" data-order-id="<%= order.id %>"><%= order.quantity %></div>
      <%= link_to "+", order_path(@order, params: {update: "plus"}), method: :put, remote: true, class: "small-button2" %>
    </div>
  </div>

</div>

