<div class="container bill-header">
  <div class="bill-header">
      Your table's Bill:
  </div>
  <div class="bill-header">
      Check items you wish to pay for.
  </div>
</div>

<div class="container bill">


  <%= simple_form_for @bill, remote: true do |f| %>
    <%= f.simple_fields_for :orders do |ff| %>
      <%= render "shared/bill-card",ff: ff,  order: ff.object, id: ff.object.id  %>
    <% end %>
  <% end %>

  <%= simple_form_for :payment, url: bill_payments_path(@bill), method: "POST", html: {id: "payment-form"} do |f| %>
    <%= f.hidden_field "stripe_token", id: "stripe-token" %>
    <%= f.hidden_field "amount", id: "stripe-amount" %>
    <%= f.hidden_field "stripe_email", value: current_user.email %>
    <%= f.submit "Pay with card", id: "trigger-stripe-checkout" %>

    <script src="https://checkout.stripe.com/checkout.js">
    </script>

    <script>
      var handler = StripeCheckout.configure({
        key: '<%= Rails.configuration.stripe[:publishable_key] %>',
        locale: 'auto',
        name: 'Pay with card',
        description: 'BLAH',
        currency: "EUR",
        email: "<%= current_user.email %>",
        token: function(token) {
          document.getElementById('stripe-token').value = token.id;
          document.getElementById('payment-form').submit();
        }
      });
      document.getElementById('trigger-stripe-checkout').addEventListener('click', function(e) {
        e.preventDefault();
        amount = document.getElementById("stripe-amount").value;
        handler.open({
          amount: Math.round(amount)
        })
      });

    </script>
  <% end %>

</div>


  <div class="total-display" id="bill-total-display">
    <button type="button" class="button fixy2" style="background-color: white; color: #000000;">
      <div class="center">
        Your Total: €
        <span id='total'>
          0
        </span>
      </div>
    </button>
  </div>

<div class="container payment-buttons">

  <div class="button-fix">

  </div>
  <div class="button-fix">
    <button type="button" class="button fixy" data-toggle="modal" data-target=".bd-cash-modal-sm">
      Pay by Cash
    </button>
  </div>
</div>



<div class="modal fade bd-card-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="payment-modal">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pay by Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please enter your card details</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Secure Checkout</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-cash-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="payment-modal">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pay by Cash</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your bill is ready to pay at the register!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>
