<div class="container bill-header" data-current-user-id='<%=current_user.id%>'>
  <div class="bill-header">
      Your table's Bill:
  </div>
  <div class="bill-subheader">
      Select the items you wish to pay for.
  </div>
</div>

<div class="container-bill">

  <% if @your_orders.size > 0 %>
    <h4 class="bill-category">
      <i class="fas fa-user"></i>
      Your unpaid orders
    </h4>
    <% @your_orders.each do |order| %>
      <%= link_to order_path(order, params: {update: "toggle_check"}), method: :put, remote: true, class: "bill-order-card" do%>
          <%= render "shared/new-bill-card",order: order  %>
      <% end %>
    <% end %>
  <% end %>
  <% if @other_orders.size > 0  %>
    <h4 class="bill-category">
      <i class="fas fa-users"></i>
      Other unpaid orders
    </h4>
    <% @other_orders.each do |order| %>
      <%= link_to order_path(order, params: {update: "toggle_check"}), method: :put, remote: true, class: "bill-order-card" do%>
          <%= render "shared/new-bill-card",order: order  %>
      <% end %>
    <% end %>
  <% end %>
  <% if @paid_orders.size > 0  %>
    <h4 class="bill-category">
      <i class="fas fa-check-square"></i>
      Paid orders
    </h4>
    <% @paid_orders.each do |order| %>
      <%= render "shared/new-bill-card",order: order  %>
    <% end %>
  <% end %>
  <%= simple_form_for :payment, url: bill_payments_path(@bill), method: "POST", html: {id: "payment-form"} do |f| %>
    <%= f.hidden_field "stripe_token", id: "stripe-token" %>
    <%= f.hidden_field "amount", id: "stripe-amount" %>
    <%= f.hidden_field "stripe_email", value: current_user.email %>
    <div class="bill-footer">
      <div class="total-display" id="bill-total-display">
        Selected amount to pay:
        <div class="total-display-amount">
          €
          <span id='bill-total-number'>
            0
          </span>
        </div>
      </div>
      <div class="payment-buttons">
        <button type="button" class="bill-button" data-toggle="modal" data-target=".bd-cash-modal-sm">
          On register
        </button>
        <%= f.submit "Credit card", id: "trigger-stripe-checkout", class: "bill-button-inverse" do%>
          <i class="fas fa-money-bill-alt"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!-- Boostrap modal for paying with cash -->
<div class="modal fade bd-cash-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="payment-modal">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pay by Cash</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your bill is ready to pay at the register!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Stripe form pops up on form pay with cash click button -->
<script src="https://checkout.stripe.com/checkout.js">
</script>
<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    locale: 'auto',
    name: 'Pay with card',
    description: "Okey let's pay :)",
    currency: "EUR",
    email: "<%= current_user.email %>",
    token: function(token) {
      document.getElementById('stripe-token').value = token.id;
      document.getElementById('payment-form').submit();
    }
  });
  document.getElementById('trigger-stripe-checkout').addEventListener('click', function(e) {
    e.preventDefault();
    amount = document.getElementById("stripe-amount").value;
    handler.open({
      amount: Math.round(amount)
    })
  });
</script>
