<%= render "shared/simple-navbar" %>
<div class="main-tables">
  <h3 id="table-select-title">Almost there!<br> Please select your table:</h3>
  <div class="container">
      <% @tables.each do |table| %>
        <%=  link_to table_path(table), data:{ confirm: "You're about to join table #{table.number}. Is it ok?" }, class: "table-links" do %>
          <div class="table-card" data-table-id= <%= table.id %>>
            <div class="table-card-box-left">
              <div class="table-card-title">
                <i class="em em-fork_and_knife"></i>
                <p><%= "Table ##{table.number}" %></p>
              </div>
              <% if table.active_bill? %>
                <p class="table-status">
                  <%= "Table open #{distance_of_time_in_words(Time.now, table.active_bill.created_at)} ago" %>
                </p>
              <% else %>
                <p class="table-status">Be the first to join table!</p>
              <% end %>
            </div>
            <div class="table-card-box-right">
              <div class="dashboard-controller-avatars">
                <% if table.active_bill? %>
                    <% table.active_bill.users.uniq[0..3].each do |user| %>
                      <%= table_card_photo_or_generic(user) %>
                    <% end %>
                <% end %>
                <% if table.active_bill.users.uniq.size > 4 %>
                  <div class="rest-of-table-users">
                    <span>+<%= table.active_bill.users.uniq.size - 4 %></span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
<%= javascript_pack_tag 'table-select' %>
