<div class="wrapper">
  <%= render 'shared/simple-navbar' %>
  <div class="container main">
    <h2>News feed: </h2>
    <% order_counter = []%>
    <div class="flex-reverse">
      <% @bill.orders.order(:id).each do |order|  %>
      <% counter = order_counter.select{|test| test.user == order.user} %>

      <% if counter.size == 0 %>
        <div class="welcome message">
          <%= feed_photo_or_generic(order.user) %>
          <div class="message-name">
           <div class="table-name-and-date">
              <div class="full_name">
               <h3><%= order.user.profile.name %></h3>
             </div>
             <div class="time_ago">
               <p><%= distance_of_time_in_words(Time.now, order.created_at) %> ago.</p>
             </div>
           </div>
            <p>joined the table. <i>Welcome!</i>  <i class="em em-fork_and_knife"></i></p>
          </div>
          <div class="message-status">

          </div>
        </div>
        <% end %>
        <% order_counter << order %>
        <div class="order-news message">
          <%= feed_photo_or_generic(order.user) %>
          <div class="message-name">
            <div class="table-name-and-date">
               <div class="full_name">
                <h3><%= order.user.profile.name %></h3>
              </div>
              <div class="time_ago">
                <p><%= distance_of_time_in_words(Time.now, order.created_at) %> ago.</p>
              </div>
            </div>
            <p>ordered <strong><%= order.dish.name %></strong>.  <%= dish_emoji(order) %> </p>
          </div>
          <% if order.quantity > 1 %>
            <div class="message-status">
              <p class="quantity"><%= order.quantity %></p>
            </div>
          <% end %>
        </div>
        <% end %>
    </div>
  </div>
  <div class="footer-dashboard">
    <div class="order-more">
      <%= link_to "Order more",
          restaurant_dishes_path(
            Restaurant.find(@table.restaurant_id),
            params: {table_id: @table.id}
          ),
          class: "order-more-button"  %>
    </div>
    <div class="pay">
      <%= link_to "Pay", bill_path(@bill), class: "btn-pay button " %>
    </div>
  </div>
</div>


