<div class="maincontainer">
    <div class="top-dashboad-container">
      <div class="top-dashboard-container-top">
        <div class="dashboard-controller-user">
          <div class="user-info">
            <p><%= user_name_or_generic(current_user) %></p>
            <%= card_photo_or_generic(current_user) %>
          </div>
        </div>
        <div class="party-container">
          <p>Your party</p>
          <div class="dashboard-controller-avatars">
            <% if @bill.users.size < 3 %>
              <% @bill.users.each do |user| %>
              <%= card_photo_or_generic(user) %>
              <% end %>
            <% else %>
              <% @bill.users[0..2].each do |user| %>
                <%= card_photo_or_generic(user) %>
              <% end %>
              <span>+<%= @bill.users.size - 3 %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-dashboard-container">
      <div class="dashboard-menu">
      </div>
      <div class="btn-pay"></div>
    </div>
  <div class="dashboard-container-footer">
    <div class="bill-info">
      <p class="balance"> Table total: <u><%="$#{@bill.balance}" %></u></p>
      <a href="">Go to bill</a>
    </div>
  </div>
</div>
