<div class="wrapper">
  <%= render 'shared/simple-navbar' %>
  <div class="container main">
    <h2>News feed: </h2>
    <% order_counter = []%>
    <div class="flex-reverse">
      <% @bill.orders.order(:id).each do |order|  %>
      <% counter = order_counter.select{|test| test.user == order.user} %>

      <% if counter.size == 0 %>
      <div class="welcome message">
        <img class="avatar-large" src="<%= order.user.profile.photo %>">
        <div class="message-name">
          <h3><%= order.user.profile.name %></h3>
          <p><%= order.user.profile.name %> joined the table. <i>Welcome!</i>  <i class="em em-fork_and_knife"></i></p>
        </div>
      </div>
      <% end %>
      <% order_counter << order %>
      <div class="order-news message">
        <img class="avatar-large" src="<%= order.user.profile.photo %>">
        <div class="message-name">
          <h3><%= order.user.profile.name %></h3>
          <p><%= order.user.profile.name %> ordered <strong><%= order.dish.name %></strong>.  <%= dish_emoji(order) %> </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="footer-dashboard">
    <div class="order-more">
      <%= link_to "Order more", restaurant_dishes_path(Restaurant.find(@table.restaurant_id)), class: "btn-order-more small-button"  %>
    </div>
    <div class="pay">
      <%= link_to "Pay", bill_path(@bill), class: "btn-pay small-button " %>
    </div>
  </div>
</div>


