<%= render "shared/navbar" %>
  <div class="top-dashboard-container-top">
    <div class="dashboard-controller-user">
      <div class="user-info">
        <%= card_photo_or_generic(current_user) %>
        <p><%= user_name_or_generic(current_user) %></p>
      </div>
    </div>
    <div class="party-container">
      <div class="dashboard-controller-avatars">
        <% if @bill.users.uniq.size < 3 %>
          <% @bill.users.uniq.each do |user| %>
          <%= card_photo_or_generic(user) %>
          <% end %>
        <% else %>
          <% @bill.users.uniq[0..2].each do |user| %>
            <%= card_photo_or_generic(user) %>
          <% end %>
          <span>+<%= @bill.users.uniq.size - 3 %></span>
        <% end %>
      </div>
      <p>Your party</p>
    </div>
  </div>
      <div class="dashboard-menu">
        <h3 id="still-hungry">Still hungry?</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <% if !@drinks.blank? %>
          <div class="panel panel-default drinks-panel">
            <div class="panel-heading" role="tab" id="headingOne">
            </div>
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#drinks-container" aria-expanded="false" aria-controls="drinks-container">
                Drinks
                </a>
              </h4>
            <div id="drinks-container" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="drinks">
                  <% @drinks.each do |dish| %>
                    <%= render 'shared/dish-card', dish: dish %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
        <% end %>
        <% if !@starters.blank? %>
        <div class="panel panel-default starters-panel">
            <div class="panel-heading" role="tab" id="headingOne">
            </div>
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#starters-container" aria-expanded="false" aria-controls="starters-container">
                Starters
                </a>
              </h4>
            <div id="starters-container" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="starters">
                  <% @starters.each do |dish| %>
                    <%= render 'shared/dish-card', dish: dish %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
        <% end %>
        <% if !@mains.blank? %>
        <div class="panel panel-default main-panel">
            <div class="panel-heading" role="tab" id="headingOne">
            </div>
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#main-dish-container" aria-expanded="false" aria-controls="main-dish-container">
                 Main
                </a>
              </h4>
            <div id="main-dish-container" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="mains">
                  <% @mains.each do |dish| %>
                    <%= render 'shared/dish-card', dish: dish %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
        <% end %>
        <% if !@desserts.blank? %>
        <div class="panel panel-default desserts-panel">
            <div class="panel-heading" role="tab" id="headingOne">
            </div>
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#desserts-container" aria-expanded="false" aria-controls="desserts-container">
                Desserts
                </a>
              </h4>
            <div id="desserts-container" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="desserts">
                  <% @desserts.each do |dish| %>
                    <%= render 'shared/dish-card', dish: dish %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  <div class="dashboard-container-footer">
    <div class="bill-info">
      <p class="balance"> Table total: <u><%="$#{@bill.balance}" %></u></p>
      <a href="">Bill summary</a>
    </div>
  </div>


