<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= banner_restaurant_photo(@restaurant) %>');">

  <div class="mobile-headers">
    <%= link_to :back do%>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <%= link_to "#", class: "checkout-link hidden" do  %>
      <i class="fas fa-shopping-basket"></i>
    <% end %>
  </div>
</div>

<div class="banner-logo-avatar" style="background-image: url('<%= logo_restaurant_photo(@restaurant) %>');">
</div>

<h1><%= @restaurant.name %></h1>

<div class="categories-list">
  <div class="active-category"><p>All</p></div>
  <% Dish::CATEGORY.each do |category| %>
    <div><p><%= category %></p></div>
  <% end %>
</div>

<div class="dishes-card-container">
  <div class="starters">
    <h3>Starters</h3>
    <% @starters.each do |dish| %>
      <%= render 'shared/dish-card', dish: dish %>
    <% end %>
  </div>
  <div class="mains">
    <h3>Mains</h3>
    <% @mains.each do |dish| %>
      <%= render 'shared/dish-card', dish: dish %>
    <% end %>
  </div>
  <div class="desserts">
    <h3>Desserts</h3>
    <% @desserts.each do |dish| %>
      <%= render 'shared/dish-card', dish: dish %>
    <% end %>
  </div>
</div>
