<div class="wrapper">
  <%= render 'shared/navbar' %>
  <div class="container">
    <h4>Hi there!</h4>
    <%= @user_location.latitude %>
    <%= @user_location.longitude %>
    <h6>Let's start by <span style="color: #E9585A">selecting</span> your restaurant</h6>
    <div class="row margin-top">
      <% @restaurants.each do |resto| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to restaurant_dishes_path(resto) do %>
            <%= render 'shared/restaurant-card', resto: resto %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <script>
    search = document.getElementById('searchInput');

    window.addEventListener('load', function () {
      search.value = "";
    })
  </script>


