<div class="wrapper">
  <div>
    <%= image_tag "logo_eatsplit.svg",class: "logo center" %>
  </div>
  <div class="container">
    <div class="row">
      <div class="top_search">
        <div class="top_search_input">
          <%= form_tag root_path, method: :get do %>
            <%= text_field_tag :query, params[:query], placeholder: "Search", id: "searchInput", value: "" %>
          <% end %>
        </div>
      </div>
      <% @restaurants.each do |resto| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to restaurant_dishes_path(resto) do %>
            <%= render 'shared/restaurant-card', resto: resto %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <script>
    search = document.getElementById('searchInput');

    window.addEventListener('load', function () {
      search.value = "";
    })
  </script>


